input
{
    background:grey
}


nav{
    background-color:black;
}

#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
body{
 text-align: center;
}
marquee{
    color:blue;
}